<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Page Object test example">
<parameter name="appURL" value="https://www.myntra.com/"/>
<parameter name="browserType" value="chrome"/>
  <test name="sample test">
    <classes>
      <class name="com.pack.TestMyntra.VerifyCart"/>   
    </classes>
  </test>
</suite>